@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
}

body {
  background: #fafafa;
}

/* rang */

/* rang end */

.slick-prev {
  top: 112% !important;
  left: 33% !important;
}
.slick-next {
  top: -12% !important;
  left: 33% !important;
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.slick-dots {
  bottom: 25px !important;
}

li.slick-active {
  width: 60px !important;
  display: flex;
  align-items: center;
}

.slick-dots li.slick-active button:before {
  background-color: #0198e9 !important;
  color: #0198e9 !important;
  border-radius: 20px !important;
  width: 60px !important;
  height: 17px !important;
}
.slick-dots li button:before {
  width: 20px !important;
  font-size: 15px !important;
  color: #fff !important;
  opacity: 1 !important;
}

.sliderImg {
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* .slick-list
  .slick-arrow.slick-next.absolute.\!right-0.\!top-0.\!left-0.bottom-0.flex.items-center.justify-center\}
  .slider-img {
  top: 0% !important;
  right: 0% !important;
} */

@media (max-width: 500px) {
  .slick-dots li button:before {
    font-size: 12px !important;
  }
  .slick-dots li.slick-active button:before {
    height: 15px !important;
  }
  .slick-dots {
    bottom: 9% !important;
    left: 0% !important;
  }
}
